@import "./font.scss";
@import "./mixin.scss";

// 댓글 전체 form 디자인
.comment {
  margin: 0 auto;
  width: 375px;
  text-align: center;

  // padding-top: 10px;
  padding-bottom: 10px;
  font-style: $spoqa-han-sans;
  box-shadow: 0 30px 60px 12px rgba(1, 1, 2, 0.05),
    0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
  &:hover {
    box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.09),
      0 4px 24px 0 rgba(0, 0, 33, 0.09), 0 0 1px 0 rgba(0, 0, 33, 0.13);
    cursor: pointer;
  }
  .comment-header-wrap {
    width: 100%;

    .comment-input-wrap {
      width: 92%;
      margin: 0 auto;
      padding-right: 12px;

      .comment-input {
        padding: 4px 4px;
        width: 100%;
        font-size: 13px;
      }
    }
    .comment-bottom-wrap {
      display: block;
      text-align: right;
      font-size: 13px;
      padding-right: 12px;
      padding-top: 12px;
      .comment-author-input {
        padding: 4px 4px;
        font-size: 11px;
      }
      .comment-text {
        padding-left: 12px;
        cursor: pointer;
        &:hover {
          font-weight: bold;
        }
      }
      .comment-error-text {
        display: block;
        padding-top: 5px;
        font-size: 12px;
        color: red;
        // font-weight: lighter;
      }
    }
  }
  // 댓글 디자인
  .comment-one {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 92%;
    text-align: left;
    .comment-one-header {
      display: block;
      .comment-one-author {
        display: inline-block;
        color: #929292;
        font-size: 13px;
      }
      .comment-one-date {
        font-size: 8px;
        font-weight: lighter;
        padding-left: 5px;
        display: inline-block;
      }
    }
    .comment-one-comment {
      padding-top: 5px;
      font-size: 11px;
      display: block;
    }
  }
}
