@import "./font.scss";
@import "./mixin.scss";

.content {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.post {
  display: table;
  margin: 0 auto;
  margin-top: 1vh;
  margin-bottom: 2.5vh;
  width: 375px;
  height: auto;
  vertical-align: middle;
  font-style: $spoqa-han-sans;
  box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
    0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
  &:hover {
    box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.09),
      0 4px 24px 0 rgba(0, 0, 33, 0.09), 0 0 1px 0 rgba(0, 0, 33, 0.13);
    cursor: pointer;
  }

  .thumbnail-wrap {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    .thumbnail {
      width: 100%;
    }
  }
  .post-content {
    display: table-cell;
    vertical-align: middle;
    padding-left: 2%;
    .post-title-wrap {
      font-weight: bold;
      padding-bottom: 1vh;
      font-size: 18px;
      max-width: 220px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .post-subtitle-wrap {
      font-size: 15px;
      color: grey;
      max-width: 15vw;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .post-name-wrap {
      font-size: 12px;
      font-weight: lighter;
      max-width: 15vw;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
