@import "./font.scss";
@import "./mixin.scss";

.logo-wrap {
  width: 375px;
  margin: 0 auto;
  margin-top: 1vh;
  cursor: pointer;

  .smooth-image {
    transition: opacity 3s;
  }
  .image-visible {
    width: 100%;
    opacity: 1;
  }
  .image-hidden {
    height: 233.484px;
    width: 100%;
    opacity: 0;
  }
}

.btn {
  margin: 0 auto;
  margin-bottom: 3vh;
  width: 375px;
  font-family: $spoqa-han-sans;
  .submit-btn {
    width: 50%;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
  .report-btn {
    width: 50%;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
}
.page-btn {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 375px;
  transition: opacity 1s;

  .page-btn-left-wrap {
    display: inline-block;
    width: 50%;
    cursor: pointer;
    text-align: center;
    .page-btn-left {
      width: 30%;
    }
  }
  .page-btn-right-wrap {
    display: inline-block;
    width: 50%;
    cursor: pointer;
    text-align: center;
    .page-btn-right {
      width: 30%;
    }
  }
}
.btn {
  &-visible {
    opacity: 1;
  }
  &-hidden {
    opacity: 0;
  }
}

.footer {
  width: 375px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  font-family: $spoqa-han-sans;
  border-top: 1px solid #e9ecef;

  .footer-info {
    text-decoration: none;
    cursor: pointer;
    color: grey;
    &:hover {
      font-weight: bold;
    }
  }
}
