@import "./font.scss";
@import "./mixin.scss";

.logo-wrap {
  width: 375px;
  margin: 0 auto;
  margin-top: 1vh;
  cursor: pointer;

  .smooth-image {
    transition: opacity 3s;
  }
  .image-visible {
    width: 100%;
    opacity: 1;
  }
  .image-hidden {
    height: 233.484px;
    width: 100%;
    opacity: 0;
  }
}

.btn {
  margin: 0 auto;
  margin-bottom: 3vh;
  width: 375px;
  font-family: $spoqa-han-sans;
  display: table;
  .submit-btn {
    width: 50%;
    display: table-cell;
    font-size: 18px;
    text-align: center;
    &:hover {
      font-weight: bold;
      color: #4056a1;
      cursor: pointer;
    }
  }
  .report-btn {
    width: 50%;
    display: table-cell;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    .report-wrap {
      display: inline;
      .report-text {
      }
    }
    &:hover {
      .report-wrap {
        font-weight: bold;
      }
    }
    .new {
      // display: table-cell;
      display: inline;
      background-color: red;
      font-size: 10px;
      font-weight: bold;
      color: white;
      margin-left: 3px;

      // padding-top: 2px;
      padding-left: 4px;
      padding-right: 4px;
      // padding-bottom: 2px;

      .new-text {
      }
    }
  }
}

.hotContent {
  background-color: black;
  font-size: 16px;
  color: white;
  width: 57px;
  font-style: $spoqa-han-sans;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 20px;
  text-align: center;
}

.page-btn {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 375px;
  transition: opacity 1s;

  .page-btn-left-wrap {
    display: inline-block;
    width: 50%;
    cursor: pointer;
    text-align: center;
    .page-btn-left {
      width: 30%;
    }
  }
  .page-btn-right-wrap {
    display: inline-block;
    width: 50%;
    cursor: pointer;
    text-align: center;
    .page-btn-right {
      width: 30%;
    }
  }
}
.btn {
  &-visible {
    opacity: 1;
  }
  &-hidden {
    opacity: 0;
  }
}

.trendNews {
  border-top: 1px solid #e9ecef;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 40px;
  text-align: center;
  font-size: 35px;
  font-weight: normal;
  font-style: $spoqa-han-sans;
}

.footer {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 40px;
  font-family: $spoqa-han-sans;
  border-top: 1px solid #e9ecef;
  font-size: 14px;
  .footer-info {
    text-decoration: none;
    cursor: pointer;
    color: grey;
    &:hover {
      color: #4056a1;
      font-weight: bold;
    }
  }
}
