@import "./font.scss";
@import "./mixin.scss";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  font-style: $spoqa-han-sans;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 375px;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
    0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);

  .modal-img-wrap {
    margin: 0 auto;
    width: 80%;
    .smooth-image {
      transition: opacity 1s;
    }
    .image-visible {
      width: 100%;
      opacity: 1;
    }
    .image-hidden {
      height: 148.281px;
      // width: 100%;
      opacity: 0;
    }
  }
  .modal-input-wrap {
    margin: 0 auto;
    width: 60%;
    text-align: left;

    .modal-input-label {
      font-size: 1vw;
      margin-top: 1vw;
      margin-bottom: 0.5vw;
    }
    .modal-category {
      display: inline-flex;
      font-size: 0.8vw;
      margin-right: 0.2vw;
      margin-bottom: 0.5vw;
      box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.02),
        0 4px 24px 0 rgba(0, 0, 33, 0.02), 0 0 1px 0 rgba(0, 0, 33, 0.05);
      padding: 4px 4px;
      font-weight: lighter;

      cursor: pointer;
      &:hover {
        box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.1),
          0 4px 24px 0 rgba(0, 0, 33, 0.15), 0 0 1px 0 rgba(0, 0, 33, 0.13);
        font-weight: normal;
      }
    }
    .modal-category-click {
      display: inline-flex;
      font-size: 0.8vw;
      margin-right: 0.2vw;
      margin-bottom: 0.5vw;
      box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.1),
        0 4px 24px 0 rgba(0, 0, 33, 0.15), 0 0 1px 0 rgba(0, 0, 33, 0.13);
      font-weight: normal;
      padding: 4px 4px;

      cursor: pointer;
    }
    .modal-input {
      padding: 4px 4px;
      width: 100%;
      font-size: 0.8vw;
    }
  }
  .modal-title {
  }
  .modal-content {
  }
  .modal-register-btn-wrap {
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-size: 1vw;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
}
